@media screen and (min-width: 480px) {
  .container {
    width: 458px;
  }
  /*------------- HEADER------------------------*/
  .heder-logo{
    margin-right: 249px;
  }  
  /*------------- BENEFITS------------------------*/
  .benefits-after-title {
    text-align: start;
  }
  /*------------- EXAMPLES------------------------*/

  /*------------- TEAM------------------------*/

  /*------------- Customers------------------------*/
  .customers {
  }
  .customers-item {
    margin-right: 16px;
    margin-left: 0;
  }

/*------------- FOOTER------------------------*/

/*------------- modal window ------------------------*/
.modal{
  width: 392px;
}

}