@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  /*------------- HEADER------------------------*/
  .header-navigation {
    display: flex;
    margin-right: auto;
    gap: 40px;
    margin-right: 118px;
  }
  .heder-logo {
    margin-right: 123px;
  }
  .header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-titel);
    transition: color var(--transf);
    position: relative;
  }
  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -25px;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--color-text);
  }
  .header-link:active {
    color: var(--color-primary);
  }
  .header-cont {
    flex-wrap: wrap;
  }
  .header-tel {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-right: 40px;
    transition: color var(--transf);
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--color-primary);
  }

  .header-mail {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color var(--transf);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--color-primary);
  }
  .menu-mob-btn{
    display: none;
  }
  /*------------- HERO------------------------*/
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }
  /*------------- BENEFITS------------------------*/
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: start;
  }
  /*------------- EXAMPLES------------------------*/

  /*------------- TEAM------------------------*/
  .team {
    padding-bottom: 104px;
  }
  .team-item {
    margin-right: 24px;
  }
  /*------------- Customers------------------------*/
  .customers > .container {
    width: 606px;
  }
  .customers-list {
    justify-content: start;
  }
  .customers-item {
    width: 168px;
    margin-right: 24px;
  }

  .customers-link {
    padding-left: 32px;
    padding-right: 32px;
  }

  /*------------- FOOTER------------------------*/
  .container-footer {
    justify-content: start;
    width: 606px;
  }
  .foter-info {
    margin-right: 24px;
  }

  .foter-soc {
    text-align: left;
  }
  .conteiner-sub {
    text-align: left;
  }
  .foter-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
